/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --primary-color: grey;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: grey;
    --box2-color: grey;
    --box3-color: grey;
    --all-button: grey;
    --title-icon-color: #fff;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark {
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --all-button: #3A3B3C;
    --title-icon-color: #CCC;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data {
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.dashboard {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard .top {
        left: 0;
        width: 100%;
    }
}


.all-button {
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    background-color: var(--all-button);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: var(--tran-05);
}

.ocorrencia-button {
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    background-color: var(--all-button);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: var(--tran-05);
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 400px;
    border-radius: 10px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o chat dentro do modal */
.chat {
    height: 300px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    overflow-y: scroll;
}



.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.chat-input input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #242526;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: rgb(71, 71, 71);
}

/* Estilos para o chat dentro do modal */
.chat2 {
    height: 300px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    overflow-y: scroll;
}



.chat-input2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.chat-input2 input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input2 button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #242526;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input2 button:hover {
    background-color: rgb(71, 71, 71);
}

.message {
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: #242526;
    margin-top: 5px;
}

.message2 {
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: #242526;
    margin-top: 5px;
}


.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do modal */
.modal3 {
    display: none;
    /* O modal é escondido por padrão */
    position: fixed;
    /* Posição fixa para evitar que o modal role com a página */
    z-index: 1;
    /* Z-index para colocar o modal acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Largura 100% para ocupar a tela inteira */
    height: 100%;
    /* Altura 100% para ocupar a tela inteira */
    overflow: auto;
    /* Adiciona rolagem caso o conteúdo do modal seja maior que a tela */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo preto com transparência */
}

/* Estilo do conteúdo do modal */
.modal-content3 {
    border-radius: 10px;
    background-color: #fefefe;
    /* Fundo branco */
    margin: 15% auto;
    /* Margem para centralizar o conteúdo */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Largura de 80% para o conteúdo */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Sombra */
}

/* Estilo do botão de fechar */
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





/* The Modal (background) */
.modalcad {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-contentcad {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* Close Button */
.closecad {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closecad:hover,
.closecad:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: grey;
    color: white;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.emergencias {
    padding: 5px;
}

.assembleias {
    padding: 5px;
}

.dashboard {
    padding: 5px;
}

.reservas {
    padding: 5px;
}

.ocorrencias {
    padding: 5px;
}

.visitantes {
    padding: 5px;
}

.boletos {
    padding: 5px;
}

.classificados {
    padding: 5px;
}

.cadastros {
    padding: 5px;
}

.veiculos {
    padding: 5px;
}

.financeiro {
    padding: 5px;
}

.activity {
    padding: 5px;
}




.modalnum {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-contentnum {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.closenum {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.modal-titlenum {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-bodynum li {
    font-size: 16px;
    margin-bottom: 10px;
}

.modal-bodynum a {
    color: blue;
    text-decoration: none;
}

.modal-bodynum a:hover {
    text-decoration: underline;
}



/* Estilo do formulário de reserva de churrasqueira */
.modal-bodyform form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal-bodyform label {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-bodyform input[type="text"],
.modal-bodyform input[type="date"],
.modal-bodyform input[type="time"],
.modal-bodyform input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
    outline: none;
    width: 100%;
    max-width: 350px;
}

.modal-bodyform input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-bodyform input[type="submit"]:hover {
    background-color: black;
}



/* Estilo para o fundo escuro quando o modal é aberto */
.modalage {
    border-radius: 10px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo para o conteúdo do modal */
.modal-contentage {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Estilo para o botão de fechar */
.closeage {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeage:hover,
.closeage:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para o título do modal */
.modal-titleage {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo para o corpo do modal */
.modal-bodyage {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilo para a lista de unidades */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo para o ícone de casa antes do título */
li i {
    margin-right: 10px;
    font-size: 20px;
}

/* Estilo para os títulos de cada categoria de unidades */
li>span {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/* Estilo para cada item de unidade */
li ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilo para os botões de agendar visita */
.btnage {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primaryage {
    background-color: grey;
}

.btnage:hover {
    background-color: black;
}

.btnage:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btnage:focus {
    outline: none;
}

/* Estilo para o texto dentro do botão */
.btnage span {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}



form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

select {
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    appearance: none;
    background: url('data:image/svg+xml,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.12,5.08a1,1,0,0,0,0,1.41l8.49,8.49a1,1,0,0,0,1.41-1.41L3.54,4.67A1,1,0,0,0,2.12,5.08Z"/><path d="M3.53,15.25l8.49-8.49a1,1,0,1,0-1.41-1.41L2.12,13.84a1,1,0,0,0,0,1.41l8.49,8.49a1,1,0,1,0,1.41-1.41Z"/></svg>') no-repeat right 5px center;
    background-size: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button[type="submit"] {
    background-color: grey;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: black;
}

input:required:invalid,
select:required:invalid {
    border: 2px solid grey;
}

input:required:valid,
select:required:valid {
    border: 2px solid grey;
}